.field {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.field__label {
	font-size: 14px;
	font-weight: 400;
	color: #1D1D1F;
}

.field__label--error {
	color: #F23152;
}

.field__input {
	padding: 16px;
	border: 1px solid #E9E8EB;
	border-radius: 12px;
	color: #1D1D1F;
	background-color: white;

	transition: border-color 0.3s;
}

.field__input::placeholder {
	color: #939199;
	font-size: 14px;
	font-weight: 400;
}

.field__input:hover {
	border-color: #939199;
}

.field__input:focus {
	border-color: #775CE5;
}

.field__input--error {
	border-color: #F23152 !important;
	color: #F23152;
}