.notifications-button {
	transition-property: opacity;
	transition-duration: 0.5s;
	cursor: pointer;

	position: absolute;
	top: calc(50% - 12px);
	right: 0;
}

.notifications-button:hover {
	opacity: 0.8;
}

.notifications-button:active {
	opacity: 0.2;
}

