.sum__block {
	display: flex;
	justify-content: center ;
	align-items: center;
	gap: 2px;

	font-size: 16px;
	color: var(--color-black);
}
	
.sum--big {
	font-size: 32px;
	letter-spacing: 0.05em; 
}

.sum__bold {
	font-weight: 600;
}

.sum__thin {
	font-weight: 400;
	color: var(--color-gray);
}

.sum--white {
	color: white;
}

.sum--green {
	color: var(--color-green);
}

.sum--red {
	color: var(--color-red);
}
