.button {
	padding: 20px;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 12px;
	position: relative;

	transition-property: opacity;
	transition-duration: 0.5s;
}

.button:hover {
	opacity: 0.8;
}

.button:active {
	opacity: 0.2;
}

.button[disabled] {
	border-color: lightgray;
	background-color: rgb(226, 226, 226);
}

.button-main {
	border-color: #775CE5;
	background-color: #775CE5;
	color: white;
	font-size: 16px;
	font-weight: 500;
}

.button-purple {
	border-color: #775CE5;
	background-color: white;
	color: #775CE5;
	font-size: 16px;
	font-weight: 500;
}

.button-red {
	border-color: #f23152;
	background-color: white;
	color: #f23152;
	font-size: 16px;
	font-weight: 500;
}