.field {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.field__label {
	font-size: 14px;
	font-weight: 400;
	color: var(--color-black);
}

.field__label--error {
	color: var(--color-red);
}

.field__input {
	padding: 16px;
	border: 1px solid var(--color-light-gray);
	border-radius: 12px;
	color: var(--color-black);
	background-color: white;

	transition: border-color 0.3s;
}

.field__input::placeholder {
	color: var(--color-gray);
	font-size: 14px;
	font-weight: 400;
}

.field__input:hover {
	border-color: var(--color-gray);
}

.field__input:focus {
	border-color: var(--color-main);
}

.field__input--error {
	border-color: var(--color-red) !important;
	color: var(--color-red);
}

.field__wrapper {
	position: relative;
	display: grid;
}

.field__icon {
	display: block;
	height: 22px;
	width: 22px;

	background-image: url('../../public/svg/pass-open.svg');
	background-repeat: no-repeat;
	background-position: center center;

	position: absolute;
	right: 16px;
	top: calc(50% - 11px);

	transition: opacity 0.4s;
}

.show {
	background-image: url('../../public/svg/pass-hide.svg');
}

.field__icon:hover {
	opacity: 0.5;
}

.field__empty {
	width: 97%;
}

.field__label--off {
	display: none;
}


.field__input--focus {
	border-color: var(--color-main);
}

.field__input--before::before {
	content: '$';
}