.form__error {
	padding-top: 8px;
	font-size: 14px;
	font-weight: 400;
	color: #F23152;
	
	display: none;
}

.form__error--active {
	display: block;
}

.link {
	font-size: 14px;
	font-weight: 400;
	color: #775CE5;
}

.link__prefix {
	font-size: 14px;
	font-weight: 400;
	color: 1D1D1F;
}