.field {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.field__label {
	font-size: 14px;
	font-weight: 400;
	color: #1D1D1F;
}

.field__label--error {
	color: #F23152;
}

.field__input {
	padding: 16px;
	border: 1px solid #E9E8EB;
	border-radius: 12px;
	color: #1D1D1F;
	background-color: white;

	transition: border-color 0.3s;
}

.field__input::placeholder {
	color: #939199;
	font-size: 14px;
	font-weight: 400;
}

.field__input:hover {
	border-color: #939199;
}

.field__input:focus {
	border-color: #775CE5;
}

.field__input--error {
	border-color: #F23152;
	color: #F23152;
}

.field__wrapper {
	position: relative;
	display: grid;
}

.field__icon {
	display: block;
	height: 22px;
	width: 22px;

	background-image: url('../../../public/svg/pass-open.svg');
	background-repeat: no-repeat;
	background-position: center center;

	position: absolute;
	right: 16px;
	top: calc(50% - 11px);

	transition: opacity 0.4s;
}

.show {
	background-image: url('../../../public/svg/pass-hide.svg');
}

.field__icon:hover {
	opacity: 0.5;
}