.page {
	background-color: #f5f5f7;
	border-radius: 24px;

	max-width: 393px;
	width: 393px;
	min-width: 393px;
	min-height: 852px;
	max-height: 100%;

	position: relative;
}

.bg-wallet {
	width: 393px;
	background-image: url("../../../public/img/wallet-background.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-color: white;
}